body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: black;
}

.white-text, a {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  }

.bckg-photo {
  background-image: url("../Images/building.png");
}
