body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: black;
}

.white-text, a {
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  }

.bckg-photo {
  background-image: url("../Images/building.png");
}

nav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  }

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.smaller {
  font-size: 11px;
  }

.footer {
  background-color: dimgray;
  text-align: left;
}
